@import url(
    'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'
);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}

.outerContainer{
    border: 1px dotted #333;
    max-width: 80vw;
    margin: 10vh  auto;
    min-height: 80vh;

    position: relative;
}

.innerContainer{
    border: 1px solid black;
    margin: 10vh 20vh auto;
    position: relative;
}

.box{
    color:#fff;
    width: 5em;
    height: 5em;
}

.absolute{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}

.relative{
    background-color: rgb(241, 42, 7);
    position: relative;
    top: 200px;
    left: 200px;
}

.sticky{
    background-color: rgb(0, 225, 255);
    position: sticky;
    top: 0px;
}

.fixed{
    background-color: rgb(199, 233, 6);
    position: fixed;
    top: 0;
    left: 0;
}
.static{
    background-color: green;
    position:static ;
    
}

/* **88888888888888888888888888888888888888888888888888888888** */

/*  another way to disappear the content of the page */

/* /////// new section of code for designing the single page application /////// */

html{
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
    margin: 2rem;
}
button{
    font-size: inherit;
    background-color: green;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 70vh;
    z-index: 1;
}

section h2{
    padding: 2rem;
    text-align: center;
}

header{
    min-height: 100px;
    line-height: 100px;
    text-align: center;
    color: aliceblue;
    position: sticky;
    top: 0;
}

footer{
    min-height: 100px;
    line-height: 100px;
    text-align: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

 .green{
    background-color: green;
 }

 footer{
    background-color: #333;
    color: white;
    position: sticky;
    bottom: 0;
 }
 
 footer a, footer a:visited{
    color: whitesmoke;
 }
